* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 90px;
  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  border-bottom: 1px solid gold;
}

.logo {
  color: gold;
  font-size: 45px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-links li {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: gold;
}

/* HERO SECTION */

.hero {
  width: 100%;
  height: 500px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COLLECTION SECTION */

.categories-section {
  width: 100%;
  padding: 80px 40px;
  text-align: center;
}

.category-heading {
  font-size: 60px;
  color: gold;
  margin-bottom: 10px;
}

.category-text {
  font-size: 24px;
  margin-bottom: 60px;
}

/* CARDS */

.categories {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  background-color: #111;

  border: 1px solid gold;
  border-radius: 15px;

  overflow: hidden;

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h2 {
  margin-top: 20px;
  font-size: 28px;
}

.price {
  color: gold;
  font-size: 24px;
  margin: 15px 0;
}

.card button {
  margin-bottom: 25px;

  padding: 12px 25px;

  background-color: gold;
  color: black;

  border: none;
  border-radius: 8px;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.card button:hover {
  background-color: white;
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: #111;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 40px 20px;

  margin-top: 80px;

  flex-wrap: wrap;
}

.footer-box {
  text-align: center;
  margin: 20px;
}

.footer-box h3 {
  color: gold;
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-box p {
  font-size: 18px;
}